<div class="col-xs-9 col-md-9" style="margin: 0; padding: 0">
    <div id="c"></div>
</div>

<div class="col-xs-3 col-md-3" style="overflow: scroll; height: 100vh">

    <div class="panel panel-default">
        <div class="panel-body">
            <h2>{{ title }}</h2>
            <span>{{ groups }}</span>
            <p>Lorem ipsum dolor sit amet.</p>
            <div class="panel">
                <img src="https://images-na.ssl-images-amazon.com/images/G/01/img15/pet-products/small-tiles/30423_pets-products_january-site-flip_3-cathealth_short-tile_592x304._CB286975940_.jpg" alt="">
            </div>
            <div class="panel">
                <iframe width="100%" height="auto" src="https://www.youtube.com/embed/tntOCGkgt98" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="panel">
                <iframe width="100%" height="auto" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/273828810&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>

            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <h2>{{ title }}</h2>
            <span>{{ groups }}</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa iusto, voluptatum totam quam labore aliquam veniam eum odit, nulla consequuntur ea eligendi assumenda nisi ipsam necessitatibus similique illo. Ipsam perferendis sequi, ipsum voluptates deserunt architecto ducimus, corporis eveniet porro ex, assumenda. Atque rerum accusamus libero, optio tenetur iste ipsum? Blanditiis.</p>
        </div>
    </div>
</div>