//Imports

// Tools
@import 'tools/_fonts'
@import 'tools/_vars'


//views
@import 'views/_home'

body
    height: 100vh
    background:
        image: url('http://edublogawards.com/files/2013/11/black-dark-background-xav1qw.jpg')
        size: cover
    overflow: hidden
    
.centered
    margin: 0 auto 20px
    float: none
    
.clearfix
    clear: both

canvas
    width: 100%
    height: 100%
    border: 1px solid rgba(0,0,0,0)
