//Imports

// Tools
@import 'tools/_fonts'
@import 'tools/_vars'


//views
@import 'views/_home'

body
    height: 100vh
    background: #82b2ff

canvas
    width: 100%
    height: 100%
    border: 1px solid lightgray
