.centered {
  float: none;
  margin: 0 auto; }

.clearfix {
  clear: both; }

#c {
  width: 100%;
  height: 100vh; }

body {
  height: 100vh;
  background: #82b2ff; }

canvas {
  width: 100%;
  height: 100%;
  border: 1px solid lightgray; }
